.money-image {
  width: 200px;
  margin: 30px;
}

.site-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.app-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 10px;
}

.button-box {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.add-floating-button {
  background-color: royalblue;
  color: white
}

.settings-floating-button {
  margin-right: 10px;
}
