.budget-entry {
  display: flex;
  width: 50%;
  padding: 10px;
}

.budget-entry-amount {
  flex: 1 1 5em;
  color: white;
  border-radius: 20px;
  padding: 5px;
}

.budget-entry-name {
  flex: 4;
  display: flex;
  align-items: center;
}

.green-bg {
  background-color: green;
}

.red-bg {
  background-color: red
}
