.floating-button {
  font-size: 2em;
  font-weight: 300;
  border: none;
  border-radius: 10px;
  width: 2em;
  height: 2em;
}

.floating-button:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}
