:root {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:gray;
  height: 2px;
}

dialog {
  border: 1px solid gray;
  border-radius: 10px;
}

form {
  display: grid;
  padding-top: 1em;
  grid-gap: 10px;
}

input {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  padding: 3px;
}

form button {
  font-weight: 300;
}
